h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

#input {
    max-width: 300px;
}

#myselect {
    max-width: 180px;
}

.my-div {
    border: 3px double gray;
    border-radius: 5px;
    padding: 10px 15px 15px 15px;
    margin: 20px 20px 0px 0px;
}

.row {
    margin: auto;
}

.gif-div {
    border: 1px solid gray;
    border-radius: 3px;
    float: left;
}